$color-One: var(--bg-1);
$color-Two: var(--bg-2);
$color-Three: var(--bg-5);
$color-Success: var(--text-success); 
$color-Error:  var(--text-error);  

$sm-border-width: 0.03125rem; // Small border width
$md-border-width: 0.0625rem;  // Medium border width
$lg-border-width: 0.125rem;   // Large border width

// Define borders for color-One
$sm-border-1: $sm-border-width solid $color-One;
$md-border-1: $md-border-width solid $color-One;
$lg-border-1: $lg-border-width solid $color-One;

// Define borders for color-Two
$sm-border-2: $sm-border-width solid $color-Two;
$md-border-2: $md-border-width solid $color-Two;
$lg-border-2: $lg-border-width solid $color-Two;

// Define borders for color-Three
$sm-border-3: $sm-border-width solid $color-Three;
$md-border-3: $md-border-width solid $color-Three;
$lg-border-3: $lg-border-width solid $color-Three;

// Define borders for Success
$sm-border-success: $sm-border-width solid $color-Success;
$md-border-success: $md-border-width solid $color-Success;
$lg-border-success: $lg-border-width solid $color-Success;

// Define borders for Error
$sm-border-error: $sm-border-width solid $color-Error;
$md-border-error: $md-border-width solid $color-Error;
$lg-border-error: $lg-border-width solid $color-Error;
