.legendContainer {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem;
    background-color: var(--bg-3);
    border: 1px solid var(--bg-1, #ddd);
    border-radius: 8px;
    width: 16.2rem;
    position: fixed;
    left: .8rem;
    bottom: 6rem;
}
  
  .legendItem {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: .1rem;
  }
  
  .legendSquare {
    width: 1.2rem;
    height: 1.2rem;
    border: 2px solid transparent;
    border-radius: 4px;
  }
  .legendCircule{
    width: 1.2rem;
    height: 1.2rem;
    border: 2px solid transparent;
    border-radius: 50%;

  }
  
  .legendText {
    color: var(--text-1);
    font-weight: bold;
  }
  