.container{
    background-color: rgba(192, 192, 192, 0.066);
    box-shadow: var(--shadow-2);
    border-radius: .5rem;
    padding: .8rem;
    margin-top: 1rem;
    .title{
        margin-bottom: .5rem;
        margin-top: -.2rem;
        padding: 0rem .5rem;
        color: var(--text-2);
    }

    .icon{
        font-size: 1.1rem;
        color: var(--text-3);
        background-color: var(--bg-1);
        height: 2rem;
        width: 2rem;
        border-radius: .3rem;
        opacity: .5;
        display: flex;
        justify-content: center;
        align-items: center;
        &.active{
            cursor: pointer;
            opacity: 1;
        }
    }
    .item{
        border: 1px dashed var(--bg-2);
        font-size: .8rem;
        font-weight: bold;
        cursor: pointer;
        padding: .3rem;
        border-radius: 1rem;
        text-align: center;

        &.active{
            background-color: var(--bg-1);
            color: var(--text-3);
        }
    }
}